<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.debug.ui"
            class="com.psx.technology.debug.phod.views.CompareRunDataView"
            icon="icons/sample.gif"
            id="com.psx.technology.debug.phod.views.CompareRunDataView"
            name="PHODebugger"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.psx.technology.debug.phod.preferences.PhodPreferencePage"
            id="com.psx.technology.debug.phod.preferences.PhodPreferencePage"
            name="PHOD">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.psx.technology.debug.phod.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
